{% extends "base.html" %}
{% block content %}

<h1 class="text-center m-5">Welcome to Music Corner</h1>

<table class="table table-bordered border-primary">
  <thead class="text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for musician in data %}
    <tr>
      <td>{{musician.id}}</td>
      <td>
        <a style="text-decoration: none" class="text-black"
          href="{% url 'edit_musician' musician.id %}">{{musician.name}}</a>
      </td>

      <td>{{musician.email}}</td>
      <td>{{musician.album.Rating}}</td>
      <td>{{musician.Instrument_type}}</td>
      <td>{{musician.album.album_release_date}}</td>
      <td>{{musician.album.name}}</td>
      <td>
        <a class='btn btn-warning' href="{% url 'edit_album' musician.album.id%}">Edit</a>
        <a class='btn btn-danger' href="{% url 'delete_musician' musician.id%}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}