{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
{% if messages %}
{% for msg in messages %}
<small {% if msg.tags %} class="{{msg.tags}} {% endif%}">
    {{msg}}
</small>
{% endfor %}
{% endif %}

<form style="width: 30%; margin: auto;" action="" novalidate method="post">
    <!-- {{ form|crispy }} -->
    <h1>Sign UP Page</h1>
    {% csrf_token %}
    {% for fm in form %}
    {{ fm.label_tag }}
    {{ fm }}
    {{ fm.errors|striptags }}
    {% endfor %}

    <small>Already Have an account
        <a href="{% url 'login' %}">Login</a>
    </small>

    <div class="text-center mt-2">
        <button class="btn btn-primary">Submit</button>
        <br>

    </div>
</form>

{% endblock %}