<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>This is First App Home page.</h1>
    <h2>Author: {{ author }}</h2>
    <h2>Age: {{ age }}</h2>
    <p>{{ 'Happy coding Lorem ipsum dolor sit amet consectetur adipisicing elit.'|truncatechars:6 }}</p>
    <p>{{ 'Happy coding Lorem ipsum dolor sit amet consectetur adipisicing elit.'|truncatewords:6 }}</p>
    {% comment %} <p>{{ lst }}</p> {% endcomment %}

    {% comment %}Conditional Statement{% endcomment %}
    {% if age >= 20 %}
      <h4>You will get driving licence.</h4>
    {% elif age >= 10 and age <= 19 %}
      <h4>You will not get driving licence</h4>
    {% else %}
      <h4>You are a child</h4>
    {% endif %}

    {{ lst }}
    <h1>{{ lst|join:' - ' }}</h1>
    <h1>{{ birthday|date:'D d M Y' }}</h1>
    <h1>{{ val|default:'an empty string' }}</h1>
    <h1>{{ 'Python is Fun'|cut:' ' }}</h1>
    <h1>{{ lst|length }}</h1>

    {% comment %}Foor loop{% endcomment %}
    {% for i in courses %}
      <h3>{{ i.id }} {{ i.name }} {{ i.fee }}</h3>
    {% endfor %}
  </body>
</html>
